In [33]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import warnings
warnings.filterwarnings('ignore')

In [34]:
df=pd.read_csv("https://raw.githubusercontent.com/jhhalls/Online-Exam-Ds0124/main/Sales_LinReg.csv")

In [4]:
df.head()

   Republic  NDTV   TV5   TV9  AajTak  sales
0       8.7  48.9   4.0  75.0    49.0    7.2
1      57.5  32.8  65.9  23.5    57.5   11.8
2     120.2  19.6   7.2  11.6    18.5   13.2
3       8.6   2.1  46.0   1.0     2.6    4.8
4     199.8   2.6  52.9  21.2     2.9   10.6

In [5]:
df.shape

(305, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Republic  295 non-null    float64
 1   NDTV      300 non-null    float64
 2   TV5       305 non-null    float64
 3   TV9       297 non-null    float64
 4   AajTak    300 non-null    float64
 5   sales     305 non-null    float64
dtypes: float64(6)
memory usage: 14.4 KB

In [13]:
df.describe()

         Republic        NDTV         TV5         TV9      AajTak       sales
count  295.000000  300.000000  305.000000  297.000000  300.000000  305.000000
mean   148.136610   22.341333   29.459344   28.862626   23.517967   13.811475
std     87.330161   14.781927   20.290023   21.411180   15.853789    5.192185
min      0.700000    0.300000    0.300000    0.300000    0.300000    1.600000
25%     74.050000    9.125000   15.900000   10.900000   10.000000   10.300000
50%    149.800000   21.050000   26.200000   23.500000   21.300000   12.800000
75%    221.450000   35.650000   39.600000   43.000000   36.900000   17.200000
max    296.400000   49.400000  114.000000  114.000000   75.500000   27.000000

In [20]:
df['Republic']= df['Republic'].fillna(df['Republic'].mean())
df['NDTV']= df['NDTV'].fillna(df['NDTV'].mean())
df['TV5']= df['TV5'].fillna(df['TV5'].mean())
df['TV9']= df['TV9'].fillna(df['TV9'].mean())
df['AajTak']= df['AajTak'].fillna(df['AajTak'].mean())

In [22]:
#pldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Republic  305 non-null    float64
 1   NDTV      305 non-null    float64
 2   TV5       305 non-null    float64
 3   TV9       305 non-null    float64
 4   AajTak    305 non-null    float64
 5   sales     305 non-null    float64
dtypes: float64(6)
memory usage: 14.4 KB

In [21]:
df.describe()

         Republic        NDTV         TV5         TV9      AajTak       sales
count  305.000000  305.000000  305.000000  305.000000  305.000000  305.000000
mean   148.136610   22.341333   29.459344   28.862626   23.517967   13.811475
std     85.881799   14.659861   20.290023   21.127576   15.722872    5.192185
min      0.700000    0.300000    0.300000    0.300000    0.300000    1.600000
25%     75.100000    9.300000   15.900000   11.000000   10.100000   10.300000
50%    148.136610   21.300000   26.200000   24.200000   21.700000   12.800000
75%    220.300000   35.600000   39.600000   41.800000   36.800000   17.200000
max    296.400000   49.400000  114.000000  114.000000   75.500000   27.000000

In [28]:
plt.figure(figsize(20,18))
plotnumber=1

for column in df:
    if plotnumber<=6:
     ax=plt.subplot(2,3, plotnumber)
     sns.distplot(df[column])
     plt.xlabel(column, fontsize=16)
     plotnumber+=1
    
plt.tight_layout

NameError: name 'figsize' is not defined

In [30]:
y=df['sales']

In [31]:
x=df.drop(columns=['sales'])

In [35]:
plt.figure(figsize(15,10),facecolor='blue')
plotnumber=1

for column in df:
    if plotnumber<=6:
     ax=plt.subplot(2,3, plotnumber)
     plt.scatter(x[column],y)
     plt.xlabel(column, fontsize=16)
     plotnumber+=1
    
plt.tight_layout

NameError: name 'figsize' is not defined

scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)
x_scaled

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.20,random_state=300)

In [40]:
y_train.head()

149    18.0
232     9.5
130    11.4
192    11.7
25     21.4
Name: sales, dtype: float64

regression = LinearRegression()

In [49]:
regression.fit(x_train, y_train)

NameError: name 'regression' is not defined

In [48]:
pickle.dump(regression, open('reg_model', 'tv'))

NameError: name 'regression' is not defined

In [44]:
model=pickle.load(open('reg_model','news'))

ValueError: invalid mode: 'news'

In [45]:
regression.score(x_train,y_train)

NameError: name 'regression' is not defined

regression.score(x_test,y_test)

In [46]:
x_test[1]
y_pred=regression.predict(x_test)
y_pred

NameError: name 'regression' is not defined

In [50]:
plt.scatter(y_test,y_pred)
plt.xlabel("Actual Sales")
plt.ylabel("predicted Sales")
plt.title("Actual vs model predicted")
plt.show()

NameError: name 'y_pred' is not defined